<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carchive® Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
    .myrow{
        width:50%;
        margin:0 auto;
        padding: 5%;
    }
    .head{
        background-color: grey;
    }
    </style>

<body>
    <header class="font-monospace border-bottom">

    <nav class="navbar navbar-dark bg-dark  ">
        <div class="container-fluid">
          <a class=" mx-3 navbar-brand text-white h2" href="#">
            {% load static %}
           <img src= "{% static 'imgs/logo2.jpg' %} " alt="logo" width="50" height="40" class="d-inline-block align-text-mid">
           archive
          </a>
          <div class="col">
            <div class=" col  ">
                <a  class=" text-white m-2" href="/admin/add_items/">Add Constant Items</a>
                <a  class=" text-white" href="/admin/add_showroom/">Add a showroom</a>
            </div>
            </div>
            <div class=" mx-5 justify-content-end   ">
                <div class="col"><a href="/admin/logout/" class="btn btn-info btn-sm">Logout</a></div>
              </div>
            </div>
          
        </div>
      </nav>
        
    </header>
    <main class=" myrow">
        <table class="table table-bordered table table-hover ">
                <tr  class="head">
                    <th>List of showrooms</th>
                    <th>Action</th>
                </tr>
                {% for showroom in showrooms %}
                <tr class="">
                    <td>{{showroom.name}}</td>
                    <td>
                        <a href="/admin/display_showroom/{{showroom.id}}/">Show</a>
                        <span>|</span>
                        <a href="/admin/edit_showroom/{{showroom.id}}/">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </main>

</body>

</html>